.empty-container {
  align-self: stretch;
  height: 192px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 79px var(--padding-28) var(--padding-80);
  box-sizing: border-box;
  position: sticky;
  isolation: isolate;
  gap: 39px;
  top: 0;
  z-index: 99;
  max-width: 100%;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--fs-32);
  color: var(--color-white);
  font-family: var(--font-jersey-25);
}
.empty-container-child {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  flex-shrink: 0;
}
.nossa-histria2 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  z-index: 1;
  flex-shrink: 0;
}
.empty-container-inner {
  width: 338px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-1) var(--padding-0) var(--padding-0);
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
}
.contato-parent {
  align-self: stretch;
  height: var(--height-32);
  position: relative;
}
.contato,
.edies2,
.galeria2 {
  margin: 0;
  position: absolute;
  top: 0;
  left: 245px;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  min-width: 93px;
  z-index: 1;
}
.edies2,
.galeria2 {
  left: 126px;
  min-width: 87px;
}
.edies2 {
  left: 0;
  min-width: 94px;
}
@media screen and (max-width: 675px) {
  .empty-container {
    gap: var(--gap-19);
  }
}
